# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Pyenv
.python-version

# virtualenv
env/
venv/
ENV/
.venv/

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/

# Environment variables file
.env
.env.*

# IDEs and editors
.vscode/
.idea/

# macOS
.DS_Store

# Testing
.pytest_cache/

# Mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/
